<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Germinare Tech</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <img src="imagens/logo.png" alt="logo">
        <nav>
            <ul>
                <li><a href="#">Serviços</a></li>
                <li><a href="eventos.html">Eventos</a></li>
                <li><a href="contatos.html">Contatos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h1>Restaurante Germinare Tech</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi dolorum atque necessitatibus inventore, cumque veritatis magni aperiam impedit porro cupiditate ullam, laborum iusto ratione quam. Dolore, sed. Veritatis voluptates enim quaerat, praesentium, incidunt, ducimus perferendis rerum reprehenderit rem dignissimos architecto perspiciatis? Inventore sint vero ipsam, perspiciatis in mollitia quidem optio minima unde eum voluptate officiis minus vel quas quo quae.</p>
            <h4>Estamos te esperando!</h4>
        </article>
        <section>
            <div class="card">
                <img src="imagens/entrada.jpg" alt="Entrada">
                <p>Entrada</p>
            </div>
            <div class="card">
                <img src="imagens/principal.jpg" alt="Principal">
                <p>Principal</p>
            </div>
            <div class="card">
                <img src="imagens/lanche.jpg" alt="Lanche">
                <p>Lanche</p>
            </div>
            <div class="card">
                <img src="imagens/sobremesa.jpg" alt="Sobremesa">
                <p>Sobremesa</p>
            </div>
        </section>
    </main>
    
</body>
</html>
